<% layout("/layouts/boilerplate") -%>

<div class="row mt-5">
  <h1 class="col-6 offset-3">SignUp on Platform</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          placeholder="Enter username"
          id="username"
          type="text"
          class="form-control"
          required
        />

        <div class="valid-feedback">Username availabel</div>
        <div class="invalid-feedback">Please write username</div>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Select your role</label>
        <select
          class="form-select"
          name="role"
          aria-label="Default select example"
          class="form-control"
          required
        >
          <option value="" selected>Select</option>
          <option value="student">Student</option>
          <option value="admin">Admin</option>
        </select>
        <div class="invalid-feedback">Please select a role</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          placeholder="Enter Password"
          id="password"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please write password</div>
      </div>
      <p>
        <span>Already registered?? </span>
        <a href="/login">Login</a>
      </p>

      <button class="btn btn-success col-4 offset-4">SignUp</button>
    </form>
  </div>
</div>
